<div>
    <div>{{countDown}}</div>
    <form name="searchUser" ng-submit="search(username)">
        <input type="search" required placeholder="Username here" ng-model="username">
        <input type="submit" value="Search">
    </form>
</div>
