<h2>{{repo.name}}</h2>

<div>
    Issues:
    {{repo.open_issues.count}}
</div>

<div>
    <ul>
        <li ng-repeat="user in repo.collaborators">
            <img src="https://www.gravatar.com/avatar/{{user.gravatar_id}}" alt="{{user.login}}"/>
            {{user.login}}
        </li>
    </ul>
</div>

<a href="#/main">Back</a>
<a href="#/user/{{repo.owner.login}}">Back to repo owner login</a>
